<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>上海冠晖供应链管理有限公司--新闻动态</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="./Resources/lib/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./Resources/css/publictop.css" />
    <link rel="stylesheet" type="text/css" href="./Resources/css/introduce.css" />

</head>
<body>
<div class="container-fluid">
    <?php   include './View/index/top.html'  ?>
    <div class="row">
        <section class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 intro_all">
                <div class="col-md-10 col-sm-10 col-xs-10">
                    <!--企业动态-->
                        <div class="about_backpack" id="news_industry">
                            <p>您现在所在的位置: 新闻动态 > 企业动态</p>
                            <div class="backpack_div">
                                <p class="backpack_divhead">焦作北站冷链首发成功</br>
                                    <span class="news_time">2020-03-17</span>
                                </p>
                                <!-- <p>2020-03-17</p> -->
                                <div class="dynamic_journ" style="border-bottom: none;">
                                    <!-- <p class="backpack_dyhead">1、中部"物流大省"河南2.6万个物流运输企业,从业人员超75万</p>
                                    <p class="backpack_text">&emsp;&emsp;"疫情期间全国的很多行业多多少少受到一些影响,当然作为基本"疫情期间全国的很多行业多多少少受到一些影响,当然作为基本"疫情期间全国的很多行业多多少少受到一些影响,当然作为基本"疫情期间全国的很多行业多多少少受到一些影响,当然作为基本"疫情期间全国的很多行业多多少少受到一些影响,当然作为基本"疫情期间全国的很多行业多多少少受到一些影响,当然作为基本"</p>
                                    <p class="dynamic_time">2013-08-02</p> -->
                                
                                    <p class="backpack_text">&emsp;&emsp;2020年3月17日，蒙牛冰品银川站冷链首发成功。上海冠晖供应链管理有限公司，携手中铁特货兰州局，助力中国蒙牛集团银川分公司《火车快跑》计划，连续发16柜，全程温控，零下25度，温度和轨迹，实时共享，运输时效5天，银川冷链组报道。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
<script src="./Resources/lib/jquery-3.3.1.js" type="text/javascript" charset="utf-8"></script>
<script src="./Resources/lib/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="./Resources/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
<script src="./Resources/js/home.js" type="text/javascript" charset="utf-8"></script>
</html>
