<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <title>上海冠晖供应链管理有限公司--新闻动态</title>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./Resources/lib/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./Resources/css/publictop.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./Resources/css/introduce.css"
    />
    <link rel="stylesheet" type="text/css" href="./Resources/css/home.css" />

  </head>
  <body>
    <div class="container-fluid">
      <?php   include './View/index/top.html'  ?>
      <div class="row" id="app">
        <section class="col-md-12 col-sm-12 col-xs-12" style="background-color: #fff;">
          <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 intro_all">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="about_left">
                <p>新闻咨询</p>
                <ul>
                  <li id="industry" onclick="showhide('industry')">
<!--                      <a href="./index.php?c=index&m=newtrend&code=dynamic"-->
                    <a href="./index.php?c=index&m=newtrend&code=industry"

                      >行业新闻</a
                    >
                  </li>

                  <li id="dynamic" onclick="showhide('dynamic')">
<!--                      <a href="./index.php?c=index&m=newtrend&code=industry"-->
                     <a href="./index.php?c=index&m=newtrend&code=dynamic"
                      >企业动态</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <!--行业新闻-->
              <div class="about_backpack">
                <p>您现在所在的位置: 新闻动态 > 行业新闻</p>
                <div class="backpack_div mt50">
                  <!-- <p class="backpack_divhead">行业新闻</p> -->
                  <div
                    class="dynamic_journ"
                    v-for="(item,index) in list"
                    :key="item.news_mid"
                  >
                    <p class="backpack_dyhead">
                        <!--                           <a :href=" './index.php?c=index&m=detailpages&code=detailpages&id='+item.news_mid+'' ">-->
                        <!--                           {{index + 1 }}、{{ item.news_txt0 }}</a>-->
                      <a :href= " './index.php?c=index&m=industryTwo&code=industryTwo&id='+item.news_mid+'' "
                        >{{ index + 1 }}、{{ item.news_txt0}}</a>

                    </p>
                    <p class="backpack_text" v-html="item.news_txt1">
                    </p>
                    <p class="dynamic_time">{{item.news_dat0}}</p>
                  </div>

                  <!--
                  <div class="dynamic_journ" style="margin-top: 50px;">
                    <p class="backpack_dyhead">
                      <a
                        href="./index.php?c=index&m=industryTwo&code=industryTwo"
                      >
                        2、攻坚克难促发展，党员干部当先行——中铁特货郑州分公司党员奋战一线的29小时</a
                      >
                    </p>
                    <p class="backpack_text">
                      &emsp;&emsp;3月19日下午18:15，一天工作的工作已经结束。而此时，一辆豫A牌照别克汽车从中铁特货郑州分公司驶向焦作北站货场。原来，为确保疫情期间开发的焦作蒙牛冰淇淋项目首发成功，分公司党总支书记、总经理王静懿带领市场开发部的党员刘辉、王跃和冷链专职雷洪亮冲向了一线...
                    </p>
                    <p class="dynamic_time">2013-03-27</p>
                  </div>

                  <div class="dynamic_journ" style="margin-top: 50px;">
                    <p class="backpack_dyhead">
                      <a
                        href="./index.php?c=index&m=industryThree&code=industryThree"
                        >3、新华社全景记录铁路战“疫”，点赞“铁”的担当</a
                      >
                    </p>
                    <p class="backpack_text">
                      &emsp;&emsp;配合地方政府“封闭”车站，停开客车，暂停中转，限售车票，最大限度防止疫情通过铁路传播蔓延，中国国家铁路集团有限公司迅速下达一道道站车防控指令！...
                    </p>
                    <p class="dynamic_time">2013-03-27</p>
                  </div> -->
                </div>
              </div>
              <!--企业动态-->
              <div class="about_backpack" id="news_dynamic">
                <p>您现在所在的位置: 新闻动态 > 企业动态</p>
                <div class="backpack_div mt50">
                  <!-- <p class="backpack_divhead">企业动态</p> -->
                  <div
                    class="dynamic_journ"
                    v-for="(item,index) in dynamic"
                    :key="item.news_mid"
                  >
                    <p class="backpack_dyhead">
<!--                        <a :href= " './index.php?c=index&m=industryTwo&code=industryTwo&id='+item.news_mid+'' ">-->
                      <a :href=" './index.php?c=index&m=detailpages&code=detailpages&id='+item.news_mid+'' "
                      >

                      {{ index + 1 }}、{{ item.news_txt0}}</a>
                    </p>
                    <p class="backpack_text" v-html="item.news_txt1">
                    </p>
                    <p class="dynamic_time">{{item.news_dat0}}</p>
                  </div>
                  <!-- <div class="dynamic_journ" style="margin-top: 50px;">
                    <p class="backpack_dyhead">
                      <a href="./index.php?c=index&m=detailpage&code=detailpage"
                        >2、焦作北站冷链首发成功</a
                      >
                    </p>
                    <p class="backpack_text">
                      &emsp;&emsp;2020年3月21日，蒙牛冰品焦作北站冷链首发成功。上海冠晖供应链管理有限公司，携手中铁特货郑州局，推行8+1集装箱运输，发挥铁路运输多拉快跑、低碳环保的特点，提供公铁联运，门到门服务，全程温控，无缝衔接，焦作冷链组报道。
                    </p>
                    <p class="dynamic_time">2013-03-17</p>
                  </div> -->

                </div>
              </div>
            </div>
          </div>
          <?php   include './View/index/footer.html'  ?>
        </section>
      </div>
    </div>
  </body>
  <script
    src="./Resources/lib/jquery-3.3.1.js"
    type="text/javascript"
    charset="utf-8"
  ></script>
  <script
    src="./Resources/lib/bootstrap.min.js"
    type="text/javascript"
    charset="utf-8"
  ></script>
  <script
    src="./Resources/lib/swiper.min.js"
    type="text/javascript"
    charset="utf-8"
  ></script>
  <script
    src="./Resources/js/home.js"
    type="text/javascript"
    charset="utf-8"
  ></script>
  <script
    src="./Resources/js/dynamic.js"
    type="text/javascript"
    charset="utf-8"
  ></script>
  <script src="./Resources/js/vue.js/vue.js"></script>
  <script src="./Resources/js/vue.js/vue-resource.js"></script>
  <script src="./Resources/js/newsVue.js"></script>

  <script>
    window.onload = function () {
      new Vue({
        el: "#app",
        data: {
          list: [],
          dynamic: [],
        },
        created() {
          this.getNewList();
          this.getDynamicList();
        },
        methods: {
          // 行业新闻
          getNewList() {
            var sendData = { news_int0: 1 };
            this.$http
              // .post("http://www.ghgylgl.com/index/index.php?c=news&m=getNewsList", sendData, {
              .post("./index.php?c=news&m=getNewsList", sendData, {
                emulateJSON: true,
              })
              .then(function (res) {
                  console.log(123456);
                if (res["body"].code === 200) {
                  this.list = res["body"].dataList.dataList;

                }
              });
          },
          // 企业动态
          getDynamicList() {
            var sendData = { news_int0: 2 };
            this.$http
              .post("./index.php?c=news&m=getNewsList", sendData, {
                emulateJSON: true,
              })

              .then(function (res) {
                if (res["body"].code === 200) {
                  this.dynamic = res["body"].dataList.dataList;
                }
              });
          },
        },
      });
    };
  </script>
</html>
