<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <title>上海冠晖供应链管理有限公司--关于冠晖</title>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./Resources/lib/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./Resources/css/publictop.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="./Resources/css/introduce.css"
    />
    <link rel="stylesheet" type="text/css" href="./Resources/css/home.css" />
  </head>
  <style></style>
  <body>
    <div class="container-fluid">
      <?php   include './View/index/top.html'  ?>
      <div class="row">
        <section
          class="col-md-12 col-sm-12 col-xs-12"
          style="background-color: #fff;"
        >
          <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 intro_all">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="about_left">
                <p>关于冠晖</p>
                <ul>
                  <li
                    class="addactive"
                    id="introduc"
                    onclick="showhide('introduc')"
                  >
                    企业简介
                  </li>
                  <li id="culture" onclick="showhide('culture')">企业文化</li>
                  <li id="branch" onclick="showhide('branch')">网点分布</li>
                  <li id="backpack" onclick="showhide('backpack')">产品介绍</li>
                </ul>
                <!--                      <p><a href="#" class="active addactive" onclick="showhide(this,'introduc')">企业简介</a></p>-->
                <!--                      <p><a href="#" class="active" onclick="showhide(this,'culture')">企业文化</a></p>-->
                <!--                      <p><a href="#" class="active" onclick="showhide(this,'branch')">网络分布</a></p>-->
                <!--                      <p><a href="#" class="active" onclick="showhide(this,'backpack')">背包介绍</a></p>-->
              </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10 about_padding">
              <!--企业简介-->
              <div class="about_backpack" id="about_introduc">
                <p>您现在所在的位置: 关于冠晖 > 企业简介</p>
                <div class="backpack_div mt50">
                  <!-- <p class="backpack_divhead">企业简介</p> -->
                  <div>
                    <p class="backpack_text1">
                      上海冠晖供应链管理有限公司成立于2018年7月，注册资本3000万，是一家专门从事以铁路为主的多式联运、仓配一体的冷链物流服务商。目前全国布局网点36个，是中铁特货的战略合作伙伴。
                    </p>
                    <p class="backpack_text">
                      2019年与中铁特货、上海中集强强联手，共同研发了冷藏箱外挂式柴油发电机组，俗称“背包”，极大满足了客户小批量、高频次、多品类的冷鲜货物铁路运输需求。
                    </p>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 backpack_footimg">
                    <img
                      src="./Resources/img/home/Companyprofile.png"
                      class="img-responsive"
                    />
                  </div>
                </div>
              </div>
              <!--企业文化-->
              <div class="about_backpack" id="about_culture">
                <p>您现在所在的位置: 关于冠晖 > 企业文化</p>
                <div class="backpack_div mt50">
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="col-md-1 col-sm-2 col-xs-2">
                      <img
                        src="./Resources/img/home/Companyvision.png"
                        alt=""
                      />
                    </div>
                    <div
                      class="col-md-11 col-sm-10 col-xs-10"
                      style="padding-left: 20px;"
                    >
                      <p class="culture_onep">公司愿景</p>
                      <p class="culture_twop">做国内专业的冷链物流服务商</p>
                    </div>
                    <div
                      class="col-md-1 col-sm-2 col-xs-2"
                      style="margin-top: 35px;"
                    >
                      <img
                        src="./Resources/img/home/Companymission.png"
                        alt=""
                      />
                    </div>
                    <div
                      class="col-md-11 col-sm-10 col-xs-10"
                      style="padding-left: 20px; margin-top: 35px;"
                    >
                      <p class="culture_onep">公司使命</p>
                      <p class="culture_twop">保障产品品质, 实现降本增效</p>
                    </div>
                    <div
                      class="col-md-1 col-sm-2 col-xs-2"
                      style="margin-top: 35px;"
                    >
                      <img src="./Resources/img/home/serviceidea.png" alt="" />
                    </div>
                    <div
                      class="col-md-11 col-sm-10 col-xs-10"
                      style="padding-left: 20px; margin-top: 35px;"
                    >
                      <p class="culture_onep">服务理念</p>
                      <p class="culture_twop">责任、担当、优质、高效</p>
                    </div>
                  </div>

                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <img
                      src="./Resources/img/home/corporateculture.png"
                      alt=""
                      class="img-responsive"
                      style="height: 261px;"
                    />
                  </div>

                  <!-- <div class="col-md-5 col-sm-5 col-xs-5">
                                <div class="col-md-1 col-sm-2 col-xs-2">
                                    <img src="./Resources/img/home/Companyvision.png" alt="">
                                </div>
                                <div  class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="culture_onep">公司愿景</p>
                                    <p class="culture_twop">做国内专业的冷链物流服务商</p>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5 culture">
                                <div class="col-md-1 col-sm-2 col-xs-2">
                                    <img src="./Resources/img/home/Companymission.png" alt="">
                                </div>
                                <div  class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="culture_onep">公司使命</p>
                                    <p class="culture_twop">保障产品品质,实现降本增效</p>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5 culture">
                                <div class="col-md-1 col-sm-2 col-xs-2">
                                    <img src="./Resources/img/home/serviceidea.png" alt="">
                                </div>
                                <div  class="col-md-11 col-sm-10 col-xs-10">
                                    <p class="culture_onep">服务理念</p>
                                    <p class="culture_twop">责任、担当、优质、高效</p>
                                </div>
                            </div> -->
                  <!-- <div class="col-md-5 col-sm-6 col-xs-6 backpack_img">
                             
                            </div> -->
                </div>
              </div>
              <!--网点分布-->
              <div class="about_backpack" id="about_branch">
                <p>您现在所在的位置: 关于冠晖 > 网点分布</p>
                <div class="backpack_div mt50">
                  <!-- <p class="backpack_divhead">网点分布</p> -->
                  <div class="col-md-12 col-sm-12 col-xs-12 backpack_img">
                    <img
                      src="./Resources/img/home/preview.png"
                      alt=""
                      class="img-responsive"
                      style="margin: 0 auto; width: 477px; height: 420px;"
                    />
                  </div>
                </div>
              </div>
              <!--背包介绍-->
              <div class="about_backpack" id="about_backpack">
                <p>您现在所在的位置: 关于冠晖 > 背包介绍</p>
                <div class="backpack_div mt50">
                  <!-- <p class="backpack_divhead">背包介绍</p> -->
                  <div>
                    <p class="backpack_head">一、背包产生背景</p>
                    <p class="backpack_text">
                      为了积极响应国家政策号召，实现公转铁、海铁联运，倡导低碳环保的绿色物流，同时也为了更好的满足客户小批量、高频次、多品类的冷鲜货物铁路运输需求。在铁总的倡导下，由上海铁路局与中铁特货上海分公司联合推动外挂式冷藏集装箱发电机组（简称背包）的试运行工作，由上海冠晖供应链管理有限公司购进外挂式发电机组，经铁科院、国家经济研究所、路局代表的层层把关、严格审核、多次实验，最终通过了专家组的评审，并于2019年10月17日正式上线试运行。
                    </p>
                    <p class="backpackbg_head">二、技术参数</p>
                    <p class="backpack_text">
                      重量: <=1.25T(满油时)<br />油箱容积: 430-550L<br />续航时间:
                      7-10天<br />发电机组运行温度: -40℃ ∽ +50℃ <br />外部尺寸:
                      (长*宽*高)810mm*2320mm*1100mm
                    </p>
                    <p class="backpackbg_head">三、“背包”特点</p>
                    <p class="backpack_text">
                      1、国铁认证、海铁通用<br />
                      2、降本提效、温控透明
                    </p>
                    <p class="backpackbg_head">四、适用场景</p>
                    <p class="backpack_text">
                      1、铁路冷藏箱单箱制冷和发运<br />
                      2、海铁联运无缝衔接（省略掏箱和换柜）
                    </p>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6 backpack_footimg">
                    <img
                      src="./Resources/img/home/introduced.png"
                      alt=""
                      class="img-responsive"
                    />
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6 backpack_footimg">
                    <img
                      src="./Resources/img/home/introduced2.png"
                      alt=""
                      class="img-responsive"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <?php include './View/index/footer.html' ?>
        </section>
      </div>
    </div>
  </body>
  <script
    src="./Resources/lib/jquery-3.3.1.js"
    type="text/javascript"
    charset="utf-8"
  ></script>
  <script
    src="./Resources/lib/bootstrap.min.js"
    type="text/javascript"
    charset="utf-8"
  ></script>
  <script
    src="./Resources/lib/swiper.min.js"
    type="text/javascript"
    charset="utf-8"
  ></script>
  <script
    src="./Resources/js/home.js"
    type="text/javascript"
    charset="utf-8"
  ></script>
  <script
    src="./Resources/js/introduce.js"
    type="text/javascript"
    charset="utf-8"
  ></script>
</html>
