<div class="container-fluid" id="longin_bg">
    <div class="row" style="width:100%">
        <div class="col-md-12 col-xs-12  col-sm-12" id="login_list_add">
            <div class="col-md-3 col-xs-6 col-xs-6 col-sm-6" id="login_info">
                <div class="login_img">
                    <p class="login_p"><img src="./Resources/img/signup/logo.png"> &emsp;冠晖供应链</p>
                </div>
                <div class="login_delv">
                    <ul class="first" id="nav">
                        <li style="color: #1086fd;">登录</li>
                        <li class="first_zc">注册</li>
                    </ul>
                    <div>
                        <div id="dayTask">
                            <p>
                                <span>+86&nbsp;</span>
                                <input type="text" id="username" name="username" placeholder="请输入手机号" style="height: 3rem;background-color: #fff;"><br>
                            </p>
                            <p style="margin-top:20px;">
                                <input type="password" id="password" name="password" placeholder="请输入密码" style="height: 3rem;">
                            </p>

                            <div>
                                <p class="remember">
                                    <input type="checkbox" id="remem">
                                    <label for="remem">下次自动登录</label>
                                    <span><a href="./index.php?c=login&m=retPass" style="display:inline-block;position:absolute;right:0px;color:#ccc;font-size:14px;">忘记密码</a></span>
                                </p>
                            </div>
                            <p style="margin-top:40px;border:0px;">
                                <button
                                        style="width:100%;height:40px;line-height:40px;color:#fff;background:#ccc;text-align:center;border:0px solid;outline:none;border-radius:8px;" onclick="loginData">登录
                                </button>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




