<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="./Resources/lib/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./Resources/css/nopass.css" />
</head>
<body>
<div class="container-fluid" id="longin_bg">
    <div class="row" style="width:100%">
        <div class="col-md-12 col-xs-12  col-sm-12">
            <div class="col-md-3 col-xs-6 col-xs-6 col-sm-6" id="login_info">
                <div class="login_img">
                    <p class="login_p">冠晖供应链</p>
                </div>
                <div class="login_delv">
                    <ul class="first">
                        <li>
                            <p>找回密码<br>
                                <span style="display: inline-block;width:40px;height:1px;background:#1086fd;position:relative;top:-10px;"></span>
                            </p>
                        </li>

                    </ul>
                    <div>
                        <ul class="second">
                            <li id="growTask">
                                <p>
                                    <span>+86</span>
                                    <input type="text" placeholder="请输入手机号" style="height: 3rem;"><br>
                                </p>
                                <p style="margin-top:20px;">
                                    <input type="text" placeholder="请输入验证码" style="height: 3rem;">
                                    <button style="color:#1086fd;border:1px solid #1086fd;padding:2px;border-radius:4px;background:#FFF;position:absolute;right:74px;">获取验证码</button>
                                </p>
                                <p style="margin-top:20px;">
                                    <input type="password" placeholder="请输入新密码" style="height: 3rem;">
                                </p>
                                <p style="margin-top:29px;border:0px;">
                                    <button style="width:100%;height:40px;line-height:40px;color:#fff;background:#ccc;text-align:center;border:0px solid;outline:none;border-radius:8px;">提交</button>
                                </p>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
</body>
<script src="./Resources/lib/jquery-3.3.1.js" type="text/javascript" charset="utf-8"></script>
<script src="./Resources/lib/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</html>
