<link rel="stylesheet" href="./Resources/css/x-admin.css" media="all">
<link rel="stylesheet" href="./Resources/css/bootstrap.min.css" media="all">
<link href="./Resources/css/cangku.css"  rel="stylesheet" type="text/css" />
<link href="./Resources/css/userManage.css"  rel="stylesheet" type="text/css" />
<link href="./Resources/js/element-ui/lib/theme-chalk/index.css"  rel="stylesheet" type="text/css" />

<script src="./Resources/js/vue.js/vue.js"></script>
<script src="./Resources/js/vue.js/vue-resource.js"></script>
<script src="./Resources/js/jquery.min.js"></script>
<script src="./Resources/js/bootstrap.min.js"></script>
<script src="./Resources/lib/layui/layui.js" charset="utf-8"></script>
<script src="./Resources/js/x-layui.js" charset="utf-8"></script>
<script src="./Resources/js/element-ui/lib/index.js" charset="utf-8"></script>
<!--<script src="./Resources/js/wangEditor/release/wangEditor.js"></script>-->
<!--<script src="./Resources/js/utf8-php/lang/zh-cn/zh-cn.js"></script>-->
<!--<script src="./Resources/js/utf8-php/ueditor.parse.js"></script>-->
<!--<script src="./Resources/js/utf8-php/ueditor.all.js"></script>-->
<!--<script src="./Resources/js/utf8-php/ueditor.config.js"></script>-->
<!--<script src="./Resources/js/kindeditor/kindeditor-all-min.js" charset="utf-8"></script>-->
<!--<script type="text/javascript" src="./Resources/js/kindeditor/lang/zh-CN.js"></script>-->
<!--<script type="text/javascript" src="./Resources/js/laydate/laydate.js"></script>-->

<link rel="stylesheet" type="text/css" href="./Resources/lib/summernote/dist/bootstrap.css">
<link href="./Resources/lib/summernote/dist/summernote.css" rel="stylesheet">

<script src="./Resources/lib/summernote/js/jquery.min.js"></script>
<script src="./Resources/lib/summernote/js/bootstrap.min.js"></script>
<script src="./Resources/lib/summernote/dist/summernote.js"></script>
<script src="./Resources/lib/summernote/dist/lang/summernote-zh-CN.js"></script>    <!-- 中文-->


