
<?php  include './View/index/import.html' ?>


<body>
<style>
    .searchDiv{
        display: block;
        margin-bottom: 10px;
        padding: 5px;
        line-height: 22px;
        /* border-left: 5px solid #009688; */
        border-radius: 0 2px 2px 0;
        background-color: #f2f2f2
    }
    .el-button--primary {
        color: #FFF;
        background-color: #009688;
        border-color: #009688;
    }
    .el-button--primary:focus, .el-button--primary:hover {
        background: #5EBCB3;
        border-color: #5EBCB3;
        color: #FFF;
    }
    .el-input {
        width:220px;
    }
    .pageStyle{
        margin: 20px auto;
        width: 30%;
    }
    .el-pagination.is-background .el-pager li:not(.disabled).active {
        background-color: #009688;
        color: #FFF;
    }
    .el-pagination.is-background .el-pager li:not(.disabled).active:hover {
        color: #FFF;
    }
    .el-pagination.is-background .el-pager li:not(.disabled):hover {
        color: #009688;
    }
</style>
<div class="x-body" id="news_list_home">
    <div class="searchDiv">
        <div class="layui-input-inline">
            <span>标题：</span>
            <el-input v-model="searchDataName.news_txt0" size="small" placeholder="请输入标题"></el-input>
        </div>
        <div class="layui-input-inline">
            <span>类型：</span>
            <el-select v-model="searchDataName.news_int0" size="small" placeholder="请选择">
                <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </div>
        <div class="layui-input-inline" style="width:80px" >
            <el-button type="primary" size="small" icon="el-icon-search" @click="searchData(1)">搜索</el-button>
        </div>
        <div class="layui-input-inline" style="width:80px" >
            <el-button type="primary" size="small" icon="el-icon-edit" @click="newsAdd('添加新闻','./index.php?c=news&m=add','600','500','')">添加</el-button>
        </div>
    </div>

    <el-table
            size="small"
            :data="tableData"
            border
            style="width: 100%">
        <el-table-column
                prop="news_txt0"
                label="标题"
                width="180">
        </el-table-column>
        <el-table-column
                prop="news_int0_name"
                label="类型"
                width="180">
        </el-table-column>
        <el-table-column
                prop="news_dat0"
                label="发布时间">
        </el-table-column>
        <el-table-column
                prop="news_txt1"
                label="内容">
        </el-table-column>
        <el-table-column
                fixed="right"
                label="操作"
                width="100">
            <template slot-scope="scope">
                <el-button @click="newsAdd('编辑新闻','./index.php?c=news&m=add','600','500', scope.row)" type="text" size="small">编辑</el-button>
                <el-button @click="newsDel(scope.row)" type="text" size="small">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
    <div class="pageStyle">
        <el-pagination
                background
                @current-change="handleCurrentChange"
                :current-page="searchDataName.pageID"
                :page-size="searchDataName.pageSize"
                layout="prev, pager, next"
                :total="pageTotal">
        </el-pagination>
    </div>

</div>
<script>
    news_list_home = new Vue({
        el: '#news_list_home',
        data() {
            return {
                options: [{
                    value: '',
                    label: '请选择状态'
                }, {
                    value: '1',
                    label: '行业新闻'
                }, {
                    value: '2',
                    label: '企业动态'
                }],
                pageTotal: 1,
                searchDataName: {
                    pageID: 1,
                    pageSize:20,
                    news_txt0: '',
                    news_int0: ''
                },
                tableData: []
            }
        },
        mounted (){
            this.searchData();
        },
        methods:{
            handleCurrentChange(val) {
                this.searchDataName.pageID = val;
                this.searchData();
            },
            // 查询便利
            searchData(searchID) {
                if(searchID != undefined){
                    this.searchDataName.pageID = searchID;
                }
                this.$http.post('./index.php?c=news&m=getData',this.searchDataName,{emulateJSON:true}).then(function(res){
                    let dataList = res.body.dataList;
                    this.pageTotal = dataList.total;
                    this.searchDataName.pageID = dataList.pageId;
                    this.tableData = dataList.dataList
                });

            },
            newsAdd (title,url,w,h,row) {
                url = url+"&news_mid="+row.news_mid;
                layui.use(['laydate','element','laypage','layer'], function(){
                    $ = layui.jquery;
                    laydate = layui.laydate;//日期插件
                    lement = layui.element();//面包导航
                    laypage = layui.laypage;//分页
                    layer = layui.layer;//弹出层

                    x_admin_show(title,url,w,h);
                });
            },
            newsDel(row){
                this.$confirm('此操作将删除该新闻, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    let sendData = {news_mid:row.news_mid};
                    this.$http.post('./index.php?c=news&m=doDel',sendData,{emulateJSON:true}).then(function(res){
                        this.searchData(1);
                        this.$message({
                            type: 'success',
                            message: '删除成功!'
                        });
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            }
        }
    });

</script>

</body>
