
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>冠辉冷链---产品报价</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="./Resources/lib/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./Resources/css/product.css" />
    <script src="./Resources/lib/jquery-3.3.1.js" type="text/javascript" charset="utf-8"></script>
    <script src="./Resources/js/vue.js/vue.js"></script>
    <script src="./Resources/js/vue.js/vue-resource.js"></script>

</head>
<body>
<div class="container-fluid">
    <?php   include './View/index/top.html'  ?>

    <div class="row">
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-xs-12" id="homeservice">
                        <?php   include './View/offer/add.html'  ?>
                        <?php   include './View/offer/offerList.html'  ?>
                    </div>
                </div>
            </div>

        </section>

    </div>
</div>
</body>

</html>
