
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>上海冠晖供应链管理有限公司</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="./Resources/lib/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./Resources/css/home.css" />
    <link rel="stylesheet" href="./Resources/css/swiper.min.css">
    <script src="./Resources/lib/jquery-3.3.1.js" type="text/javascript" charset="utf-8"></script>
    <script src="./Resources/lib/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./Resources/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./Resources/libjquery.lazyload.js"></script>
    <script src="./Resources/js/home.js"></script>

</head>
<style>
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 88px;
        left: 0;
        width: 20%;
        z-index: 90;
    }
    .swiper-pagination-bullet{
        /*width: 33px;*/
        height: 9px;
        display: inline-block;
        border-radius: 30px;
        background: #fff;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        /*opacity: 1;*/
        background: #007aff;
        /*background-attachment: fixed;*/
        width: 33px;
        transition-property: transform;
        animation: load 5s linear infinite;
    }
    @-webkit-keyframes load {
        0% {
            width: 12px;
            background: #007aff;
        }
        100% {
            width: 33px;
            background: #007aff
        }
    }
</style>
<body>
<div class="container-fluid">
    <?php   include './View/index/top.html'  ?>
    <div class="row">

        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="position: relative;">
                        <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2   topImage section" id="hometop" >

                            <div class="box inner">
                                <div class="swiper-container" id="swiperone">
                                    <div class="col-md-2 col-xs-2 col-md-offset-5 col-xs-offset-5 anima" id="topanima">
                                        <img src="./Resources/img/home/xiala-two.png" alt="">
                                    </div>
                                    <div class="col-md-12 col-xs-12" id="cold_message">
                                        <div class="col-md-3 col-xs-3" style="border-radius: 4px 0px 0px 4px;">
                                            <p style="position:relative;top:15px;border-right: 1px solid #fff;height:30px;">
                                                <img src="./Resources/img/home/home_Landline.png" alt="">&emsp;
                                                021-52660210
                                            </p>
                                        </div>
                                        <div class="col-md-3 col-xs-3">
                                            <p style="position:relative;top:15px;border-right: 1px solid #fff;height:30px;">
                                                <img src="./Resources/img/home/home_Mobilephone.png"  alt="">&emsp;
                                                18621080292
                                            </p>
                                        </div>
                                        <div class="col-md-3 col-xs-3">
                                            <p style="position:relative;top:15px;border-right: 1px solid #fff;height:30px;">
                                                <img src="./Resources/img/home/home_mailbox.png" alt=""
                                                     style="position: relative;top: 6px;">&emsp;
                                                <span style="position: relative;top: 6px;">guaihui_scm@126.com</span>
                                            </p>
                                        </div>
                                        <div class="col-md-3 col-xs-3" style="border-radius: 0px 4px 4px 0px;">
                                            <p style="position:relative;top:0px;height:30px;">
                                                <img src="./Resources/img/home/home_address.png"  alt="">&emsp;
                                                <span style="display:inline-block;height:30px;position:relative;top:10px;text-align:left;">上海市静安区秣陵路355号<br>上海铁路大厦1515室</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="swiper-wrapper" style="width:100%;height: 100%;">
                                        <div class="swiper-slide swiper-no-swiping "><img src="./Resources/img/home/Carouselfirst.jpg" style="width:100%;height: 100%;" class="swiper-lazy"></div>
                                        <div class="swiper-slide swiper-no-swiping lazy-load"><img  src="./Resources/img/home/Carouselsecond.jpg" style="width:100%;height: 100%;" class="swiper-lazy"></div>
                                        <div class="swiper-slide swiper-no-swiping lazy-load"><img src="./Resources/img/home/Carouselthird.jpg"  style="width:100%;height: 100%;" class="swiper-lazy"></div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--公司介绍-->
                    <div class="col-md-12 col-xs-12 second group" id="homeservice" >
                        <div  class="col-md-12 col-xs-12">
                            <div class="col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-2" >
                                <div class="col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-2" >
                                    <div class="commodule">
                                        <p class="allp">公司介绍</p>
                                        <span class="allline"></span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-12 allsmall">
                                    <div  class="col-md-6 col-xs-6 sec_sess">
                                        <p class="com_smallp">
                                            上海冠晖供应链管理有限公司是一家专门从事以铁路为主的多式联运、仓配一体的冷链物流服务商，是中铁特货的战略合作伙伴。</br></br></br>2019年与中铁特货、上海中集强强联手，共同研发了冷藏箱外挂式发电机组，俗称“背包”，极大满足了客户小批量、高频次、多品类的冷鲜货物铁路运输需求。
                                        </p>
                                    </div>
                                    <div class="col-md-6 col-xs-6" style="position: relative;">
                                        <img class="img-responsive" width="100%" src="./Resources/img/home/home_Company_pic.png" style="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--产品介绍-->
                        <div  class="col-md-12 col-xs-12">
                            <div class="col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-2" id="product">
                                <div class="allmodule">
                                    <p class="allp">产品介绍</p>
                                    <span class="allline"></span>
                                </div>
                                <div class="col-md-12 col-xs-12 allsmall">
                                    <div class="first">
                                        <div class="swiper-container" >
                                            <div class="swiper-wrapper" style="height: 100%;margin: auto;" >
                                                <div class="swiper-slide swiper-no-swiping"><img src="./Resources/img/home/homeproductfirst.png" style="width: 100%;" class="img-responsive" ></div>
                                                <div class="swiper-slide swiper-no-swiping"><img src="./Resources/img/home/homeproductsecond.png" style="width: 100%;" class="img-responsive" ></div>
                                                <div class="swiper-slide swiper-no-swiping"><img src="./Resources/img/home/home_product_third.png" style="width: 100%;" class="img-responsive" ></div>
                                            </div>
                                            <!-- 如果需要分页器 -->
                                            <div class="swiper-pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 铁路知识-->
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-2" id="railway" >
                                <div class="allmodule">
                                    <p class="allp">铁路知识</p>
                                    <span class="allline"></span>
                                </div>
                                <div  class="col-md-12 col-xs-12 allsmall">
                                    <div class="col-md-6 col-xs-6 sec_sess">
                                        <div class="rail_small">
                                            <p>如果你还在为公路<span style="font-weight: bold;">路况、安全</span>而纠结！！！</p>
                                            <p>如果你还在为航空运输的<span style="font-weight: bold;">成本、运量</span>而烦恼！！</p>
                                            <p>是时候考虑铁路运输了！</p>
                                            </br>
                                            <p style="font-weight:bold;">问：铁路运输有什么优点？</p>
                                            <p style="">答： 1  安全性：冷链运输全程温控，保障食品安全、保障运输品质</p>
                                            <p style="padding-left:32px;"> 2  经济型：载重大、容积大、距离长、价格低、且全年波动小</p>
                                            <p style="padding-left:32px;"> 3  时效性：“门到门”解决方案，有效解决到货、挂车、运输时效等</p>

                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-6" style="position: relative;">
                                        <img class="img-responsive" width="100%" src="./Resources/img/home/home_knowledge_pic.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 网络分布-->
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-2" id="network" >
                                <div class="allmodule">
                                    <p class="allp">网络分布</p>
                                    <span class="allline"></span>
                                </div>
                                <div  class="col-md-12 col-xs-12 allsmall">
                                    <div class="col-md-6 col-xs-6" style="position: relative;">
                                        <img class="img-responsive" width="100%" src="./Resources/img/home/home_map_pic.png">
                                    </div>
                                    <div class="col-md-6 col-xs-6 sec_sess">
                                        <div class="network_small">
                                            <p style="padding-left: 26px;"><span style="font-weight:bold;font-size:18px;color:#333;">冠晖</span>  供应链为冻肉、冻禽、乳制品、饮品、水产品、果蔬、速冻食品、冰淇淋、药品等相关企业提供全程冷链物流解决方案。</p>
                                            <p style="font-weight:bold;color:#333;">✦&emsp;现已运行的冷链线路：</p>
                                            <p style="padding-left:26px;">① 上海—成都 &emsp;&emsp;&emsp;&emsp; ② 上海—重庆</p>
                                            <p style="padding-left:26px;">③ 青岛—成都 &emsp;&emsp;&emsp;&emsp; ④ 沈阳—武汉</p>
                                            <p style="padding-left:26px;">⑤ 哈尔滨—长沙</p>
                                            <p style="font-weight:bold;color:#333;">✦&emsp;即将开通的冷链线路：</p>
                                            <p style="padding-left:26px;">① 上海—广州/西安/北京 &emsp;&emsp;&emsp;&emsp; ② 成都—上海/广州/北京</p>
                                            <p style="padding-left:26px;">③ 昆明—上海/广州/北京 &emsp;&emsp;&emsp;&emsp; ④ 南宁—上海/广州/北京</p>
                                            <p style="padding-left:26px;">⑤ 深圳—成都/重庆/上海</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--企业文化-->
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-2" id="enterprise">
                                <div class="allmodule">
                                    <p class="allp">企业文化</p>
                                    <span class="allline"></span>
                                </div>
                                <div class="col-md-4 col-xs-4 enterprise">
                                    <img class="img-responsive" src="./Resources/img/home/home_vision_pic.png">
                                </div>
                                <div class="col-md-4 col-xs-4 enterprise">
                                    <img class="img-responsive" src="./Resources/img/home/home_Mission_pic.png">
                                </div>
                                <div class="col-md-4 col-xs-4 enterprise">
                                    <img class="img-responsive" src="./Resources/img/home/home_services_pic.png">
                                </div>
                            </div>
                        </div>
                        <!--服务案例-->
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-2" id="company" >
                                <div class="allmodule">
                                    <p class="allp">服务案例</p>
                                    <span class="allline"></span>
                                </div>
                                <div class="col-md-12 col-xs-12 allsmall">
                                    <div class="col-md-3 col-xs-3">
                                        <p>
                                            <img src="./Resources/img/home/responsibility.png" alt="" class="img-responsive">
                                        </p>
                                    </div>
                                    <div class="col-md-3 col-xs-3">
                                        <p>
                                            <img src="./Resources/img/home/undertake.png" alt="" class="img-responsive img_second">
                                        </p>
                                    </div>
                                    <div class="col-md-3 col-xs-3">
                                        <p>
                                            <img src="./Resources/img/home/highquality.png" alt=""class="img-responsive img_third">
                                        </p>
                                    </div>
                                    <div class="col-md-3 col-xs-3">
                                        <p>
                                            <img src="./Resources/img/home/efficient.png" alt="" class="img-responsive img_four">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rightMenuBox">
                    <a href="javascript:void(0);" class="backTop"><img src="./Resources/img/home/Placed.svg" alt=""></a>
                </div>
            </div>
        </section>
        <footer>
            <div class="container-fluid">
                <p>固定电话:021-52660210 | 联系电话:18621080292 | 邮箱:guanhui_scm@126.com</p>
                <p>沪公网安备11010502000501 | Copyright ⓒ 2006-2020 冠晖供应链</p>
            </div>
        </footer>

    </div>
</div>
</body>

</html>
