
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>上海冠晖供应链管理有限公司</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="./Resources/lib/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./Resources/css/publictop.css" />
    <link rel="stylesheet" type="text/css" href="./Resources/css/home.css" />

    <link rel="stylesheet" href="./Resources/css/swiper.min.css">


</head>
<style>
    .swiper-pagination-bullet{
        width: 9px;
        height: 9px;
        display: inline-block;
        border-radius: 30px;
        background: #fff;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        /*opacity: 1;*/
        background: #007aff;
        /*background-attachment: fixed;*/
        width: 9px;
        transition-property: transform;
        animation: load 5s linear infinite;
    }
    @-webkit-keyframes load {
        0% {

            background: #007aff;
        }
        100% {

            background: #007aff
        }
    }
</style>
<body>
<div class="container-fluid">
    <?php   include './View/index/top.html'  ?>
    <div class="row">
        <section class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 section_home">
                <div class="swiper-container" id="swiperone">
                    <div class="swiper-wrapper" style="width:100%;height: 100%;">
                        <div class="swiper-slide swiper-no-swiping "><img src="./Resources/img/home/banner.png" style="width:100%;height: 100%;" class="swiper-lazy"></div>
                        <div class="swiper-slide swiper-no-swiping lazy-load"><img  src="./Resources/img/home/banner2.png" style="width:100%;height: 100%;" class="swiper-lazy"></div>
                        <div class="swiper-slide swiper-no-swiping lazy-load"><img src="./Resources/img/home/banner3.png"  style="width:100%;height: 100%;" class="swiper-lazy"></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2">
                <p class="col-md-12 col-sm-12 col-xs-12 all_p">服务模式,门到门全程冷链</p>
                <div class="col-md-12 col-sm-12 col-xs-12 service_div" id="service_div">
                   <div class="col-md-4 col-sm-4 col-xs-4">
                       <img src="./Resources/img/home/first.png" alt="" class="img-responsive">
                   </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <img src="./Resources/img/home/second.png" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <img src="./Resources/img/home/third.png" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
            <div  class="col-md-12 col-sm-12 col-xs-12 journalism">
                <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2">
                    <p class="col-md-12 col-sm-12 col-xs-12 all_p">新闻资讯</p>
                    <div class="col-md-12 col-sm-12 col-xs-12 all_div" >
                        <div  class="col-md-5 col-sm-5 col-xs-5">
                            <img src="./Resources/img/home/news.png" alt="">
                            <div class="journ_div">
                                <p class="journ_onep">物流末端的变革会发生在2020年的疫情期间吗?</p>
                                <p class="journ_twop">2020年注定是不平凡的一年,病毒疫情的肆虐给各行各业来了或多或少的影响,但是风险和灾难背后也孕育了机会,2003年的非典给电商带来了发展的时机,那么2020年的疫情dfjhdkjfkdgjkdghkjds背后也孕育了机会,2003年的非典给电商带来了发展的时机,那么或多或少的影响,但是风险和灾难背或多或少的影响,但是风险和灾难背或多或少的影响,但是风险和灾难背或多或少的影响,但是风险和灾难背</p>
                            </div>
                        </div>
                        <div  class="col-md-7 col-sm-7 col-xs-7">
                            <div class="journ_list">
                                <span class="list_span">03-27</span>
                                <div class="list_div">
                                    <p class="list_presshead">中部"物流大省"河南2.6万个物流运输企业,从业人员超75万</p>
                                    <p class="list_press">疫情期间全国的很多行业都多多少少受到一些影响,当做作为基一些影响,当做作为基一些影响,当做作为基</p>
                                </div>
                            </div>
                            <div class="journ_list">
                                <span class="list_span">03-27</span>
                                <div class="list_div">
                                    <p class="list_presshead">中部"物流大省"河南2.6万个物流运输企业,从业人员超75万</p>
                                    <p class="list_press">疫情期间全国的很多行业都多多少少受到一些影响,当做作为基一些影响,当做作为基一些影响,当做作为基</p>
                                </div>
                            </div>
                            <div class="journ_list">
                                <span class="list_span">03-27</span>
                                <div class="list_div">
                                    <p class="list_presshead">中部"物流大省"河南2.6万个物流运输企业,从业人员超75万</p>
                                    <p class="list_press">疫情期间全国的很多行业都多多少少受到一些影响,当做作为基一些影响,当做作为基一些影响,当做作为基</p>
                                </div>
                            </div>
                            <div class="journ_list">
                                <span class="list_span">03-27</span>
                                <div class="list_div">
                                    <p class="list_presshead">中部"物流大省"河南2.6万个物流运输企业,从业人员超75万</p>
                                    <p class="list_press">疫情期间全国的很多行业都多多少少受到一些影响,当做作为基一些影响,当做作为基一些影响,当做作为基</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 servecustomer">
                <p class="col-md-12 col-sm-12 col-xs-12 all_p">服务客户</p>
                <div class="col-md-12 col-sm-12 col-xs-12 all_div">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <img src="./Resources/img/home/mengniu.png" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <img src="./Resources/img/home/roadsnow.png" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <img src="./Resources/img/home/KFC.png" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <img src="./Resources/img/home/hope.png" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 bottom">
                <div class="col-md-8 col-sm-8 col-xs-8 col-md-offset-2 bottom_div">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <img src="./Resources/img/home/footlogo.png" alt="" class="img-responsive">
                        <p>上海冠晖供应链科技有限公司</p>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <p class="bottom_head">友情链接</p>
                        <p class="bottom_text">中通快递 <br>顺丰快递 <br>中国南方航空 <br>德邦物流 </p>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <p class="bottom_head">我们的服务</p>
                        <p class="bottom_text">公路运输 <br>铁路运输 <br>公路运输</p>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <p class="bottom_head">联系我们</p>
                        <p class="bottom_text">固定电话: 021-52660210 <br>联系电话: 18621080292 <br>邮箱: guanhui_scm@126.com </p>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 bottom_foot">
                    <p>沪公网安备11010502000501号| Copyright © 2006-2020 冠晖供应链</p>
                </div>
             </div>

        </section>
    </div>
</div>
</body>
<script src="./Resources/lib/jquery-3.3.1.js" type="text/javascript" charset="utf-8"></script>
<script src="./Resources/lib/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="./Resources/lib/swiper.min.js" type="text/javascript" charset="utf-8"></script>
<script src="./Resources/libjquery.lazyload.js"></script>
<script src="./Resources/js/home.js"></script>
</html>
