
<?php  include './View/index/import.html' ?>
<style>
    .layui-input-block{
        margin-left: 80px;
        width: 400px;
        overflow-y: auto;
    }

    .el-button--primary {
        color: #FFF;
        background-color: #009688;
        border-color: #009688;
    }
    .el-button--primary:focus, .el-button--primary:hover {
        background: #5EBCB3;
        border-color: #5EBCB3;
        color: #FFF;
    }
</style>
<div class="x-body">
    <form class="ser_list_add" id="ser_list_add">
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>标题
            </label>
            <div class="layui-input-inline">
                <input type="hidden" id="serMid" name="serMid" value="<?php echo $serMid ?>">
                <el-input v-model="form.ser_mid" type="hidden"></el-input>
                <el-input v-model="form.ser_txt0" placeholder="请输入标题"></el-input>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                时间
            </label>
            <div class="layui-input-inline">
                <el-date-picker
                        v-model="form.ser_dat0"
                        type="date"
                        placeholder="选择日期"
                        format="yyyy 年 MM 月 dd 日"
                        value-format="yyyy-MM-dd">
                </el-date-picker>
            </div>
        </div>
        
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">
                内容
            </label>
            <div class="layui-input-block">
                <div class="summernote"></div>
            </div>
        </div>
        <div class="layui-form-item" >
            <label class="layui-form-label">
            </label>
            <el-button type="primary" size="small" @click="addData">保存</el-button>
        </div>
    </form>
</div>

<script>
    var serListAdd = new Vue({
        el: '#ser_list_add',
        data() {
            return {
                parentMessage: 'Parent',
                summer: '',
                items: [],

                form:{
                    ser_mid: '',
                    ser_txt0: '',
                    ser_int0: '',
                    ser_dat0: '',
                    ser_txt1: '',
                    fileList:[]
                },
            }

        },
        mounted:function(){
            this.findData()
        },
        methods:{
            findData(){
                let serMid = $('#serMid').val();
                let sendData = {ser_mid:serMid};
                if(serMid != undefined){
                    this.$http.post('./index.php?c=ser&m=findData',sendData,{emulateJSON:true}).then(function(res){
                        let data = res.body.data;
                        this.form.ser_mid  = data.ser_mid;
                        this.form.ser_txt0 = data.ser_txt0;
                        this.form.ser_int0 = data.ser_int0;
                        this.form.ser_dat0 = data.ser_dat0;
                        this.form.ser_txt1 = data.ser_txt1;
                        this.form.fileList  = data.fileList;

                        this.summer = $('.summernote').summernote({
                            height: 200,
                            tabsize: 2,
                            lang: 'zh-CN',
                            callbacks: {
                                onImageUpload: function (files) {
                                    serListAdd.sendFile(files);
                                }
                            }
                        });
                        this.summer.summernote('code', this.form.ser_txt1);
                    });
                }
            },
            sendFile:function(files) {
                let imageData = new FormData();
                imageData.append("imageData", files[0]);
                this.$http.post('./index.php?c=ser&m=uploadImg',imageData,{emulateJSON:true}).then(function(res){
                    console.info(res);
                    let imgNode = document.createElement("img");
                    imgNode.src = '..' + res.data.img;
                    this.summer.summernote('insertNode', imgNode);
                });
            },
     
            addData:function () {
                this.form.ser_txt1 = $(".summernote").summernote("code");
                this.$http.post('./index.php?c=ser&m=doAdd',this.form,{emulateJSON:true}).then(function(res){
                    var row =  res.body.code;  // 此处是查询的页码

                    alert(res.body.mess);
                    // 获得frame索引
                    var index = parent.layer.getFrameIndex(window.name);
                    //关闭当前frame
                    parent.layer.close(index);
                    parent.ser_list_home.searchData(1);
                });
            }


        }
    });
</script>
