[v-cloak]{
    display: none
}
.modal-dialog{
    width: 60rem;
    margin:auto;
    height: 100%;
}
.modal-content{
    width: 60rem;
    height: 284px;
    position: fixed;
    top: 50%;
    border: 1px solid black;
    margin-top: -142px;
}
.but{
    position: relative;
}
n{
    position: absolute;
    left: 2.1rem;
    top: 0.6rem;
    font-size: 1rem;
}
.col-lg-10 {
    width: 85.6%;
}
#nna {
    width: 99%;
    height: 4rem;
    position: absolute;
    /*bottom: -17px;*/
    text-align: center;
}
#base_img0{
    display: none;
}
@media (max-width: 1660px){
    .col-lg-10 {
        width: 83.5%;
    }
}